{% extends 'users/base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Add user</h1>
            {{ form.non_field_errors }}
            <form method="POST">
                {% csrf_token %} {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }} {{ field }} {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                        <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
