{% extends 'users/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
<h1>Users</h1>
{% if users %}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No users added yet.</p>
{% endif %}
</div>
</div>
</div>
{% endblock %}
